<h1>Bring on the Battle!</h1>
<h2>Give us your names</h2>
<form action="/names" method ="post">
  <label for="Player_1">
    Player 1
    <input type="text" name="Player_1">
  </label>
  <label for="Player_2">
    Player 2
    <input type="text" name="Player_2">
  </label>
  <input type="submit" value="Submit">
</form>
